<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<h1 class="p-4 text-3xl font-bold text-center">
Donjon et Zoombies</h1>
<div class="flex flex-col">
<div class="border-b border-gray-200 dark:border-gray-700 mx-44">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
        <tr>
            <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                id
            </th>
            <th scope="col" class="py-3 px-6">
                nom
            </th>
            <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                nombre de vie
            </th>
            <th scope="col" class="py-3 px-6">
                type
            </th>
        </tr>
        </thead>
        <tbody>
        <tr  class="border-b border-gray-200 dark:border-gray-700" th:each="character : ${characters}">
            <td class="py-3 px-6 bg-gray-50 dark:bg-gray-800"><span th:text="${character.id}">  </span></td>
            <td class="py-4 px-6"><span th:text="${character.name}">  </span></td>
            <td class="py-3 px-6 bg-gray-50 dark:bg-gray-800"><span th:text="${character.levelLife}">  </span></td>
            <td class="py-4 px-6"><span th:text="${character.type}">  </span></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="mt-2 mx-44 pt-2  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5  mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un personnage</button>
</div>

<!-- Modal -->
<div class="modal fade m-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <h5 class="p-4 text-3xl font-bold text-center" id="exampleModalLabel">Nouveau personnage</h5>
            <form th:action="@{/save}" th:object="${ines}" method="POST">
                <div class="m-4 flex justify-end">
                    <label for="exampleInputEmail1" class="m-4 block pt-2 text-sm font-medium text-gray-900 dark:text-gray-400">Nom</label>
                    <input  type="text" th:field="*{name}" class="w-3/4 my-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="m-4 flex justify-end">
                <label for="type" class="m-4 block pt-2 text-sm font-medium text-gray-900 dark:text-gray-400">Type</label>
                <select id="type" th:field="*{type}" class="w-3/4 my-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="mage">mage</option>
                    <option value="guerrier">guerrier</option>
                </select>
                </div>
                <div class="m-4 flex justify-end">
                    <label for="exampleInputPassword1" class="m-4 block pt-2 text-sm font-medium text-gray-900 dark:text-gray-400">Force</label>
                    <input type="number" th:field="*{levelLife}" class="w-3/4 my-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="exampleInputPassword1">
                </div>
                <div class="flex justify-center">
<!--                    <button type="button" class="p-2  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" data-bs-dismiss="modal">Fermer</button>-->
                    <input type="submit" class="" value="Create" />
<!--                    <button type="submit" class="p-2  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"   >Enregistrer</button>-->
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>